.login {
}

#logo {
	margin-left: 5px;
	margin-top: 50px;
}

.hide {
	display: none;
}

#refresh_div {
	margin-top: 120px;
}

#refresh_btn {
	background: #ca2128;
	color: #fff;
	width: 40%;
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 0.3rem;
	border-radius: 10px;
}

#refresh_comment {
	font-size: 1.5rem;
}

// ------------- loading spinner -------------

$loadingSpinnerDiameter: 50px;
$loadingSpinnerStrokeWidth: 5px;
$loadingSpinnerStrokeColor: #ca2128;
$loadingSpinnerOpacity: .8;
$loadingSpinnerStrokeStyle: solid; // solid, dashed, dotted
$loadingSpinnerSpeed: .9s;

.loadingSpinner {
  border: $loadingSpinnerStrokeWidth $loadingSpinnerStrokeStyle $loadingSpinnerStrokeColor;
  border-top-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  width: $loadingSpinnerDiameter - ($loadingSpinnerStrokeWidth * 2);
  height: $loadingSpinnerDiameter - ($loadingSpinnerStrokeWidth * 2);
  opacity: $loadingSpinnerOpacity;
  border-radius: 50%;
  animation: loadingSpinner $loadingSpinnerSpeed infinite linear;
  -webkit-animation: loadingSpinner $loadingSpinnerSpeed infinite linear;
}

.loadingSpinner {
  margin-top: -$loadingSpinnerDiameter / 2;
  margin-left: -$loadingSpinnerDiameter / 2;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes loadingSpinner {
    from { transform: rotate(0deg)   }
    to   { transform: rotate(360deg) }
}

@-webkit-keyframes loadingSpinner {
    from { -webkit-transform: rotate(0deg)   }
    to   { -webkit-transform: rotate(360deg) }
}